*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(rgb(148, 112, 233), rgb(230, 138, 215));
    background-repeat:no-repeat;
    color: white;
}

.Header{
    background-color: rgb(76, 0, 120) ;
    height: 70px;
    border-bottom: 2px dotted white;
    margin-bottom: 20px;
}

.SectionLadoEsquerdo{
    float: left;
    width: 300px;
    margin: 20PX;
}

.SectionLadoDireito{
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}

button{
    padding: 10px;
    margin: 10px;
    background-color: rgb(243, 198, 213);
    border: 2px solid white;
    border-radius: 10px;
}